.ProseMirror-content {
    max-height: 10em;
    overflow: auto;
}

.search-result {
    background-color: yellow;
}

pre {
    padding: 1rem !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

code {
    font-size: 1rem !important;
}