/* .grid-container {
  display: grid;
  grid-template-areas: "tree editor editor editor editor editor editor editor";
  column-gap: 1rem;
}

.main-one {
  max-width: 100vw;
  min-width: 100vw;
}

.grid-note-tree {
  align-self: stretch;
  grid-area: tree;
}

.grid-editor {
  align-self: stretch;
  grid-area: editor;
} */

#root {
  max-height: 100vh;
}

.appear-on-hover {
  opacity: 0;
  transition: 0.3s;
}

.appear-on-hover:hover {
  opacity: 1;
}
