html {
  font-size: 16px !important;
}

/* html,
body {
  margin: 0;
  padding: 0;
}


ul li {
  list-style: square;
}

.p-menubar {
  background: var(--form-element-background-color) !important;
} */

/* For Debugging Boxes, Please Uncomment */
/* * {
  outline: 1px solid red;
} */